@model Arasan.Models.BranchSelection
@{
	Layout = string.Empty;
}
<!DOCTYPE html>
<html>
<head>
<style>
	h1 {text-align:  center;}
	p  {text-align:  center;}
	div {text-align: center;}
	h3 {text-align:  center;}
	img
	{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 40%;
	}
</style>
</head>
<body bgcolor="aqua-bg">
	<div class="middle-box text-center">
		<div class="widgets-container">
			<div>
				<h1><img src="assets/images/Arasan_Logo.png" alt="logo" width="250" height="250" ></h1>
			</div>
			<h3>Welcome to Arasan</h3>
			@using (Html.BeginForm("BranchSelection", "BranchSelection", FormMethod.Post))
			{
				@Html.AntiForgeryToken()
				<form class="top15">
					<div class="form-group">
						@Html.DropDownListFor(C => C.Branch, Model.Brlst, new { @id = "ddlBranch", @Class = "form-control chosen-select", @TabIndex = 1 })
						<br/>
					</div>
					<div class="form-group">
				 		@Html.DropDownListFor(C => C.Location, Model.Loclst, new { @id = "ddlLocation", @Class = "form-control chosen-select", @TabIndex = 1 })
						<br />
						@*<input type="password" required="" placeholder="Password" class="form-control">*@
					</div>
					<button class="btn aqua block full-width  bottom15" type="button">Go</button>
					<br />
					@*	<a href="forgot_password.html"><small>Forgot password?</small></a>
				<p class="text-muted text-center"><small>Do not have an account?</small></p>
				<a href="register.html" class="btn btn-sm btn-white btn-block">Create an account</a>*@
				</form>
            }
		</div>
	</div>
</body>
</html>

<script>
    $(".chosen-select").chosen();
</script>

