@model Arasan.Models.Currency

@{
    ViewData["Title"] = "Index";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Currency </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                    <hr>
                    <form>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Currency Code<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <select class=" _select js-states form-control">

                                            <option> </option>
                                            <option value="CH">	INR </option>
                                            <option value="KA">	EUR </option>
                                            <option value="TAAI">AUD </option>

                                        </select><br />
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Currency Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <select class=" _select js-states form-control">

                                            <option> </option>
                                            <option value="CH">	rupee </option>
                                            <option value="KA">	euro </option>
                                            <option value="TAAI">dollar </option>

                                        </select><br />
                                    </div>

                                </div>
                            </div>
                        </div>
                 
                        
                    
                        <div style="height:30px;"></div>
                        <div class="col-lg-8"></div>
                        <a button type="submit" class="btn aqua m-t-xs bottom15-xs" href="@Url.Action("ListCurrency", "Currency")">Submit</a>
                        <a button class="btn btn-danger" type="submit" href="@Url.Action("ListCurrency", "Currency")">Cancel</a>

                   

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>