@model Arasan.Models.Ledger

@{
    ViewData["Title"] = "Index";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Account</a> </li>
            <li class="active"> <strong>Ledger</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/Ledger/MyListLedgergrid",
            //url: "/ItemName/ItemName",
             data: {
                    strstatus: ""
                },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'atype', type: 'string' },
                { name: 'accgroup', type: 'string' },
                { name: 'ledname', type: 'string' },
                { name: 'displayname', type: 'string' },
                { name: 'legcode', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },
            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
               width: '100%',
               source: dataAdapter, 
               height: 450,
               source: source,
               sortable: true,
               filterable: true,
               groupable: false,
               pageable: true,
               showfilterbar: true,
              //showfilterrow: true,
              theme: 'darkblue',
		      enablebrowserselection :true,
                columns: [
                    { text: 'Account Type', filtertype: 'checkedlist', datafield: 'atype', width: 150 },
                    { text: 'Account Group', filtertype: 'checkedlist', datafield: 'accgroup', width: 150 },
                    { text: 'Ledger Name', filtertype: 'input', datafield: 'ledname', width: 300 },
                    { text: 'Display Name', datafield: 'displayname', width: 300, align: 'center' },
                    { text: 'Ledger Code', datafield: 'legcode', width: 150, align: 'center' },
                    { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                ]
            });
             $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });
</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="col-md-2 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                { new SelectListItem() {Text = "Enabled", Value="Y"},
                                new SelectListItem() {Text = "Disabled", Value="N"}},
                                new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                            </div>
                            <div class="col-md-9 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("Ledger", "Ledger")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Ledger</a>
                                    <br>
                                </div>


                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-10 ">
                                <div id="grid">
                                </div>

                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
