@model Arasan.Models.PurchaseImportIndent

@{
    ViewData["Title"] = "Index";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Purchase Indent Approval</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/PurchaseImportIndent/ListIndentItemgridSupp",
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'itemname' },
                { name: 'itemid' },
                { name: 'quantity' },
                { name: 'assign' }
            ],
            id: 'itemid',
        };
        var employeesAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );
        //alert(JSON.stringify(employeesAdapter));

        var ordersSource =
        {
            url: "/PurchaseImportIndent/ListIndentItemgridSuppDetails",
            datafields: [
                { name: 'piid', type: 'string' },
                { name: 'itemid', type: 'string' },
                { name: 'indentno', type: 'string' },
                { name: 'indentdate', type: 'string' },
                { name: 'itemname', type: 'string' },
                { name: 'unit', type: 'string' },
                { name: 'quantity', type: 'float' },
                { name: 'location', type: 'string' },
                { name: 'duedate', type: 'string' }
            ],

            datatype: "json",

            async: false
        };
        var ordersDataAdapter = new $.jqx.dataAdapter(ordersSource,
            { contentType: 'application/json; charset=utf-8' }, { autoBind: true }
        );
        ordersDataAdapter.dataBind();
        //var ordersDataAdapter2 = new $.jqx.dataAdapter(ordersSource, { autoBind: true });
        var orders = ordersDataAdapter.records;

        console.log(ordersDataAdapter);

        var nestedGrids = new Array();
        // create nested grid.
        var initrowdetails = function (index, parentElement, gridElement, record) {
            var id = record.uid.toString();
            var grid = $($(parentElement).children()[0]);
            nestedGrids[index] = grid;
            var filtergroup = new $.jqx.filter();
            var filter_or_operator = 1;
            var filtervalue = id;
            var filtercondition = 'equal';
            var filter = filtergroup.createfilter('stringfilter', filtervalue, filtercondition);
            // fill the orders depending on the id.
            var ordersbyid = [];
            for (var m = 0; m < orders.length; m++) {
                var result = filter.evaluate(orders[m]["itemid"]);
                if (result)
                    ordersbyid.push(orders[m]);
            }
            var orderssource = {
                datafields: [
                    { name: 'piid', type: 'string' },
                    { name: 'itemid', type: 'string' },
                    { name: 'indentno', type: 'string' },
                    { name: 'indentdate', type: 'string' },
                    { name: 'itemname', type: 'string' },
                    { name: 'unit', type: 'string' },
                    { name: 'quantity', type: 'float' },
                    { name: 'location', type: 'string' },
                    { name: 'duedate', type: 'string' }
                ],
                id: 'piid',
                localdata: ordersbyid
            }
            var nestedGridAdapter = new $.jqx.dataAdapter(orderssource);
            if (grid != null) {
                grid.jqxGrid({
                    source: nestedGridAdapter, width: 780, height: 200,
                    columns: [
                        { text: 'Indent No.', aggregates: ["count"], datafield: 'indentno', width: 100 },
                        { text: 'Indent Date', datafield: 'indentdate', width: 100 },
                        { text: 'Item Name', groupable: true, columntype: 'dropdownlist', datafield: 'itemname', width: 200 },
                        { text: 'Due date', datafield: 'duedate', width: 100, cellsalign: 'right' },
                        { text: 'Location', datafield: 'location', width: 200 },
                        { text: 'Quantity', datafield: 'quantity', width: 100 }
                    ]
                });
            }
        }
        var renderer = function (row, column, value) {

            return '<span style="margin-left: 4px; margin-top: 9px; float: left; ">' + value + '</span>';
        }
        var linkrenderer = function (row, column, value) {
            return '<a href="' + value + '" ><img  src="../Images/D2.png"  style="text-align: center; margin-top: 5px;padding-left:25px;"/></a>';
        }
        //alert(initrowdetails);
        // creage grid
        $("#grid").jqxGrid(
            {
                width: getWidth('Grid'),
                height: 365,
                source: source,
                pageable: true,
                filterable: true,
                autoheight: true,
                sortable: true,
                rowdetails: true,
                rowsheight: 35,
                initrowdetails: initrowdetails,
                rowdetailstemplate: { rowdetails: "<div id='grid' style='margin: 10px;'></div>", rowdetailsheight: 220, rowdetailshidden: true },
                ready: function () {
                    $("#grid").jqxGrid('showrowdetails', 1);
                },
                columns: [

                    { text: 'Item Name', datafield: 'itemname', width: 250 },
                    { text: 'Total Quantity', datafield: 'quantity', width: 150 },
                    { text: 'Assign Supplier', datafield: 'assign', width: 150, cellsrenderer: linkrenderer, align: 'center' }
                ]
            });
    });



</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>

                        <div class="row">

                            <div class="col-md-2 "> </div>
                            <div class="col-md-10 ">
                                <div id="grid">
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
