@model Arasan.Models.Stock

@{

    ViewData["Title"] = "Indent Stock Issue";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Store Management</a> </li>
            <li class="active"> <strong>Store Stock </strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // prepare the data
        var source =
        {
            url: "/Stock/ListIndentStockIssues",
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'itemname', type: 'string' },
                { name: 'unit', type: 'string' },
                { name: 'quantity', type: 'float' },
                { name: 'location', type: 'string' },
                { name: 'binid', type: 'string' },
                { name: 'branchname', type: 'string' },
            ],
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        // initialize jqxGrid
        $("#grid").jqxGrid(
            {
                width: 1000,
                source: dataAdapter,
                height: 365,
                //filterable: true,
                pageable: true,
                showfilterrow: true,
                //showfilterbar: true,
                //showgroupaggregates: true,
                // showaggregates: true,
                groupable: true,
               filterable: true,
                autoheight: true,
                sortable: true,
                rowdetails: true,
                theme: 'darkblue',
                enablebrowserselection: true,
                groups: ['location'],
                columns: [ 
                     { text: 'Branch Name', datafield: 'branchname', width: 200 },
                    { text: 'location',  datafield: 'location', width: 200 },
                    { text: 'BinId',  datafield: 'binid', width: 200 },
                    { text: 'Item Name', columntype: 'dropdownlist', datafield: 'itemname', width: 200 },
                 
                    
                    {
                        text: 'Quantity', /*filtertype: 'input', */datafield: 'quantity', aggregates: ["sum"], cellsalign: 'right',
                        cellsrenderer: function (row, column, value, defaultRender, column, rowData) {
                            if (value.toString().indexOf("Sum") >= 0) {
                                return defaultRender.replace("Sum", "Total Quantity");
                            }
                        },
                        aggregatesrenderer: function (aggregates, column, element) {
                            var renderstring = '<div style="position: relative; margin-top: 4px; margin-right:5px; text-align: right; overflow: hidden;">' + "Total" + ': ' + aggregates.sum + '</div>';
                            return renderstring;
                        }
                    }
                ]
            });
    });
</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>

                        <div class="row">

                            <div class="col-md-1 "> </div>
                            @* <div class="col-md-11 "> *@
                            <div id="grid">
                            </div>

                            @* </div>*@

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Approve() {
        return confirm('Are you sure want to Approve this Indent?');
    }

</script>


@*<script>

    function changeItem(ItemId) {
        $.ajax({
            url: 'GetItemDetail',
            data: { "ItemId": ItemId },
            type: "GET",
            success: function (result) {

                document.getElementById("txtcode").value = result.acc;



            },
            error: function () {
                alert("Data Not Found");
            }
        });
    }
</script>
*@