@model Arasan.Models.EmailConfig

@{
    ViewData["Title"] = "ListEmailConfig";
    //string query = ViewContext.HttpContext.Request.Query["status"];
    //string Qid = string.Empty;
    //if (!string.IsNullOrEmpty(query)) { Qid = ViewContext.HttpContext.Request.Query["status"]; 
}
}
<partial name="JqxGridPartial" />

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> EmailConfig </strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/EmailConfig/MyListItemgrid",

            data: {
                strstatus: ""
            },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'smtp', type: 'string' },
                { name: 'port', type: 'string' },
                { name: 'email', type: 'string' },
                { name: 'password', type: 'string' },
                { name: 'ssl', type: 'string' },
                { name: 'signature', type: 'string' },
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },


            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {

                width: '100%',
                source: dataAdapter,
                //height: 450,
                autorowheight: true,
                autoheight: true,
                source: source,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                filterbarmode: 'simple',
                theme: 'darkblue',
                enablebrowserselection: true,
                columns: [

                    { text: 'SMTP', filtertype: 'checkedlist', datafield: 'smtp', width: 200 },
                    { text: 'Port No', filtertype: 'checkedlist', datafield: 'port', width: 200 },
                    { text: 'Email ID', filtertype: 'input', datafield: 'email', width: 150 },
                    { text: 'Password', datafield: 'password', width: 100 },
                    { text: 'SSL',  datafield: 'ssl', width: 100 },
                    { text: 'Signature', datafield: 'signature', width: 100 },
                    { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70, formatter: returnMyLink, edittype: 'select' },
                ]
            });
        $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });

    function returnMyLink(cellValue, options, rowdata, action) {
        return "<a href='/Controller/Action/" + options.rowId + "' >Click here</a>";
    }

</script>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="col-md-2 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                { new SelectListItem() {Text = "Enabled", Value="Y"},
                                new SelectListItem() {Text = "Disabled", Value="N"}},
                                new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                            </div>


                            <div class="col-md-8 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("EmailConfig","EmailConfig")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add EmailConfig</a>
                                    <br>
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-10 ">
                                <div id="grid">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>
