@model Arasan.Models.DrumCategory

@{
    ViewData["Title"] = "DrumCategory";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>DrumCategory </strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">


                    <hr>
                    @using (Html.BeginForm("NewCategory", "DrumCategory", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <form>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">CategoryType<label class="mandatory">*</label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.CategoryType, new { @id = "txtCategory", @class = "form-control",autocomplete="off" , @TabIndex = 2, @size="30" })<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Description<label class="mandatory"></label></label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(C => C.Description, new { @id = "txtDes", @class = "form-control",autocomplete="off" , @TabIndex = 2, @size="30" })<br>
                                        </div>

                                    </div>
                                </div>
                            </div>
                           

                            <div style="height:30px;"></div>
                            <div class="col-lg-8"></div>
                            <button type="submit" name="submit" class="btn aqua m-t-xs bottom15-xs" id="btnSave" value="Save" tabindex="18">Save</button>
                            <a button class="btn btn-danger" type="submit" href="@Url.Action("ListNewCategory", "DrumCategory")">Cancel</a>

                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>

   $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtCategory").value == "") {
                isValid = false;
                $(txtCategory).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter CategoryType");
                return false;
            }
            else {
                $(txtCategory).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtDes").value == "") {
                isValid = false;
                $(txtDes).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Description");
                return false;
            }
            else {
                $(txtDes).css({
                    "border": "",
                    "background": ""
                });
            }

            if (document.getElementById("txtStatus").value == "") {
                isValid = false;
                $(txtStatus).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Status");
                return false;
            }
            else {
                $(txtStatus).css({
                    "border": "",
                    "background": ""
                });
            }

            if (isValid == false)
                e.preventDefault();

        });

    });
</script>