@model Arasan.Models.ItemName

@{
    ViewData["Title"] = "Index";
}
  <partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
    
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Item Master</strong> </li>
        </ol>
    </div>
</div>

 <script type="text/javascript">
        $(document).ready(function () {
            var source =
            {
                url: "/ItemName/MyListItemgrid",
                //url: "/ItemName/ItemName",
                data: {
                    strstatus: ""
                },
               datatype: "json",
                updaterow: function (rowid, rowdata) {
                  // synchronize with the server - send update command
              },
                datafields: [
                    { name: 'itemgroup', type: 'string' },
                    { name: 'itemsubgroup', type: 'string' },
                    { name: 'itemname', type: 'string' },
                    { name: 'bin', type: 'string' },
                    { name: 'cf', type: 'string' },
                    { name: 'uom', type: 'string' },
                    { name: 'hsncode', type: 'string' },
                    { name: 'editrow', type: 'string' },
                    { name: 'delrow', type: 'string' },
                ],
                id: 'id',
            };
              var dataAdapter = new $.jqx.dataAdapter(source,
                { contentType: 'application/json; charset=utf-8' }, {
                    loadComplete: function () {

                    }
                }
            );
          
            $("#grid").jqxGrid(
                {
                    width: '100%',
                    source: dataAdapter, 
                    height: 450,
                    source: source,
                    sortable: true,
              filterable: true,
              groupable: false,
              pageable: true,
              showfilterrow: true,

   
		     enablebrowserselection :true,

   theme: 'energyblue',
		enablebrowserselection :true,

                    columns: [
                    { text: 'Item Group', filtertype: 'checkedlist', datafield: 'itemgroup', width: 150 },
                      { text: 'Item Sub Group', filtertype: 'checkedlist', datafield: 'itemsubgroup', width: 150 },
                      { text: 'Item Name', filtertype: 'input', datafield: 'itemname', width: 300 },
                      { text: 'UOM' , datafield: 'uom', width: 50, align: 'center' },
                      { text: 'CF', datafield: 'cf', width: 50 , align: 'center'},
                      { text: 'HSN Code', datafield: 'hsncode', width: 100, align: 'center' },
                      { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                      { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    ]
            });
            $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
        });
 </script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                    <form>
                         <div class="row">
                            <div class="col-md-3 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                { new SelectListItem() {Text = "Enabled", Value="Y"},
                new SelectListItem() {Text = "Disabled", Value="N"}},
                new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new" })
                            </div>
                             <div class="col-md-9 "> 
                                   <div class=" textalignright">
                                    <a href="@Url.Action("ItemName", "ItemName")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Item</a>
                                     <br>
                                </div>
                       
                       
                        </div>
                        </div>
                        <div class="row">

                             <div class="col-md-2 "> </div>
                            <div class="col-md-10 "> 
                                <div id="grid">
    </div>

                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
