@model Arasan.Models.ItemCategory

@{
    ViewData["Title"] = "Category";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>    
            <li class="active"> <strong>Item Category</strong> </li>
        </ol>
    </div>
</div>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                      <hr>
                       @using (Html.BeginForm("ItemCategory", "ItemCategory", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        
                            <div class="row">

                                <div class="col-lg-4"></div>
                                <div class="col-md-5">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Category<label class="mandatory">*</label></label>
                                        <div class="col-sm-7">
                                            @Html.TextBoxFor(C => C.Category, new { @id = "txtCategory", @class = "form-control", @TabIndex = 1 })<br />
                                            @Html.HiddenFor(C => C.ID)

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height:30px;"></div>
                        <div class="col-lg-6"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs" id="btnsave">Submit</button>
                            <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListItemCategory", "ItemCategory")'">Cancel</button>
                            
                      
                    </form>
                      }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtCategory").value == "") {
                isValid = false;
                $(txtCategory).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Category");
                return false;
            }
            else {
                $(txtCategory).css({
                    "border": "",
                    "background": ""
                });
            }
            if (isValid == false)
                e.preventDefault();

        });

    });
</script>