@{
    ViewData["Title"] = "Drum Change / Un Packing Entry";
}
<style>
    .newwidth {
        width: 120px;
    }
</style>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Drum Change / Un Packing Entry</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Drum Change / Un Packing Entry</h5>
                    <hr>
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <select class=" _select js-states form-control">

                                            <option value="TAAI">(TAAI)CHENNAI - DEPOT </option>
                                            <option value="TAAI">(TAAI)KOLKATA - DEPOT </option>
                                            <option value="TAAI">(TAAI)SVK - FACTORY </option>
                                        </select><br />
                                    </div>
                                </div>
                            </div>

                      
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Entry Type<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                       <select class=" _select js-states form-control">

                                            <option value="TAAI">DRUM CHANGING </option>
                                            <option value="TAAI">UNPACKING </option>
                                        
                                        </select><br />
                                    </div>
                                </div>
                            </div>
                              </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc ID<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="UNP#300072" type="text" readonly><br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Doc Date<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="date"><br />
                                    </div>
                                </div>
                            </div>
                      
                             
                              </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Location<label class="Mandatory"></label></label>


                                    <div class="col-sm-8">
                                        <input class="form-control" size="30" type="text" value=""><br />
                                        </div>



                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Shift<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                            </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Start Date/Time<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="datetime-local"><br />
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">End Date/Time<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="datetime-local">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">UnPacked Item<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                       
                           

                        </div>

                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="tabs-container">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-1" data-toggle="tab">UnPacking/Changing Drums</a></li>
                                        <li><a href="#tab-2" data-toggle="tab">ReUsable Item </a></li>
                                        <li><a href="#tab-3" data-toggle="tab">Employee Detail </a></li>
                                          <li><a href="#tab-4" data-toggle="tab">Machine Detail </a></li>
                                           <li><a href="#tab-5" data-toggle="tab">Packed Changed Drums </a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-1">
                                            <!-- 1st tab  -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn sbold green" id="addRow"> Add New <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins">

                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th> S. No. </th>
                                                                                
                                                                                <th> Drum No </th>
                                                                                <th> Batch No </th>
                                                                                <th> Batch Qty </th>
                                                                               
                                                                                <th> Issue Qty </th>
                                                                               
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> 1 </td>

                                                                               
                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" Drum No" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" Batch No" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                                                                               
                                                                            </tr>
                                                                            <tr>
                                                                                <td> 2 </td>
                                                                               
                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" Drum No" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" Batch No" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                                                                               
                                                                            </tr>
                                                                            <tr>
                                                                                <td> 3 </td>


                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" Drum No" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" Batch No" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0" type="text"> </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 1st tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-2">
                                            <!-- 2nd tab  -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn sbold green" id="addRow"> Add New <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins">

                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th> S. No. </th>
                                                                                <th>Item Id</th>
                                                                                <th> Unit </th>
                                                                                <th> Stock </th>
                                                                                <th> LotYN </th>
                                                                                
                                                                                <th>Rec.Qty  </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> 1 </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Item Id" type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>
                                                                               
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Stock" type="text"> </td>
                                                                                 <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Rec.Qty" type="text"> </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td> 2 </td>
                                                                                   <td><input class="form-control" id="inputEmail3" placeholder="Item Id" type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>
                                                                               
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Stock" type="text"> </td>
                                                                                 <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Rec.Qty" type="text"> </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td> 3 </td>


                                                                                   <td><input class="form-control" id="inputEmail3" placeholder="Item Id" type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="0.00" type="text"> </td>
                                                                               
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Stock" type="text"> </td>
                                                                                 <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="Rec.Qty" type="text"> </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2nd tab  -->
                                        </div>
                                        <div class="tab-pane" id="tab-3">
                                            <!-- 3rd tab  -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn sbold green" id="addRow"> Add New <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                </div>
                                                  <div class="row">
                                                    <div class="col-lg-3"></div>
                                                <div class="col-lg-6">
                                                    <div class="ibox float-e-margins">

                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                            <div class="col-lg-3"></div>
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th> S. No. </th>
                                                                                <th>Emp Code</th>
                                                                               
                                                                                  <th> Emp Name </th>
                                                                                   <th> Department </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> 1 </td>

                                                                              <td><input class="form-control " id="inputEmail3" placeholder=""type="text"> </td>

                                                                                  <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>
                                                                                   <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td> 2 </td>

                                                                                <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>

                                                                                <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td> 3 </td>


                                                                                <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>

                                                                                <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control " id="inputEmail3" placeholder="" type="text"> </td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                            <!-- 3rd tab  -->
                                        </div>
                                         <div class="tab-pane" id="tab-4">
                                            <!-- 4th tab  -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn sbold green" id="addRow"> Add New <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3"></div>
                                                <div class="col-lg-4">
                                                    <div class="ibox float-e-margins">
                                                        
                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                          
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th> S. No. </th>
                                                                                <th>Machine </th>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> 1 </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder=" " type="text"> </td>

                                                                               

                                                                            </tr>
                                                                            <tr>
                                                                                <td> 2 </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>

                                                                            </tr>
                                                                            <tr>
                                                                                <td> 3 </td>


                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>

                                                                               
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <!-- 4th tab  -->
                                        </div>
                                         <div class="tab-pane " id="tab-5">
                                            <!-- 5th tab  -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="btn-group">
                                                        <button class="btn sbold green" id="addRow"> Add New <i class="fa fa-plus"></i> </button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="ibox float-e-margins">

                                                        <!-- / ibox-title -->
                                                        <div id="demo3" class="ibox-content collapse in">
                                                            <div class="borderedTable">
                                                                <div class="table-scrollable">
                                                                    <table class="table table-striped table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th> S. No. </th>
                                                                                <th>Item ID</th>
                                                                                <th>Unit</th>
                                                                                <th> Drum No </th>
                                                                                <th> Batch  </th>
                                                                                <th> Tbatch  </th>
                                                                                <th> Batch Qty</th>
                                                                                <th> Batch No </th>
                                                                                <th> Rec Qty </th>
                                                                          
                                                                             
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> 1 </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="  " type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="  " type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                               
                                                                            </tr>
                                                                            <tr>
                                                                                <td> 2 </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="  " type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="  " type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                
                                                                            </tr>
                                                                            <tr>
                                                                                <td> 3 </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>

                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="  " type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="  " type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                                <td><input class="form-control" id="inputEmail3" placeholder="" type="text"> </td>
                                                                               
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 5th tab  -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div style="height:30px;"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Entered By<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                            </div>
                              <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Remarks<label class="Mandatory"></label></label>

                                    <div class="col-sm-8">
                                        <textarea class="form-control" id="inputEmail3" placeholder="" type="text"></textarea><br />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Total Input Qty<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                            </div>
                              <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Total Output Qty<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                        <div style="height:30px;"></div>
                        <button type="submit" class="btn aqua m-t-xs bottom15-xs">Submit</button>
                        <button class="btn btn-danger" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>