@{
    ViewData["Title"] = "MTO Output Calculator";
}
<div class="page-content-wrapper animated fadeInRight">
    <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">

            <ol class="breadcrumb">
                <li> <a href="#">Home</a> </li>
                <li> <a>Production</a> </li>
                <li class="active"> <strong>  MTO Output Calculator </strong> </li>
            </ol>
        </div>
    </div>
    <div class="wrapper-content ">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="widgets-container">
                        <h5 style="font-size:14px">  MTO Output Calculator </h5>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <select class=" _select js-states form-control">

                                                <option> </option>
                                                <option value="CH">PASTE-I </option>
                                                <option value="KA">PASTE-II </option>
                                                <option value="TAAI">PASTE-III </option>
                                                <option value="TAAI">PASTE-IV </option>
                                                <option value="TAAI">PASTE-V </option>

                                            </select><br />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Coarse Input<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">AP Powder Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text" ><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Additive(St.Acid)<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>

                                        <br />


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Mto Input(Ltrs)<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Mto Input(Kgs)<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                      <br /><br />  <label for="inputName3" class="col-sm-4 control-label">Cake Output<label class="Mandatory"></label></label>

                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />


                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">

                                       <br /><br /> <label for="inputName3" class="col-sm-4 control-label">Coarse Output<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Powder@Coarse<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3"  type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">MTO@Coarse<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Expected VM For Cake<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">MTO Loss Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">MTO Loss Ltrs<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">MTO Consumption(Kgs)<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">MTO Consumption(Ltrs)<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Expected MTO Output(Kgs)<label class="Mandatory"></label></label>
                                            <div class="col-sm-8">

                                                <input class="form-control" id="inputEmail3" type="text"><br />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">

                                            <label for="inputName3" class="col-sm-4 control-label">Expected MTO Output(Ltrs)<label class="Mandatory"></label></label>
                                            <div class="col-sm-8">

                                                <input class="form-control" id="inputEmail3" type="text"><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="height:30px;"></div>
                                <button type="submit" class="btn aqua m-t-xs bottom15-xs">Submit</button>
                                <button class="btn btn-danger" type="submit">Cancel</button><br />
                            
                            </form>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>