@{
    ViewData["Title"] = "Process Lot Entry";
}
 <div class="page-content-wrapper animated fadeInRight">
     <div class="row wrapper border-bottom page-heading">
      <div class="col-lg-12">

        <ol class="breadcrumb">
          <li> <a href="#">Home</a> </li>
          <li> <a>Production</a> </li>
          <li class="active"> <strong> Process Lot Entry </strong> </li>
        </ol>
      </div>
    </div>
     <div class="wrapper-content ">
        <div class="row">
         <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="widgets-container">
              <h5 style="font-size:14px">Process Lot Entry </h5>
              <hr>
              <form>
			  <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                            
                                                <label for="inputName3" class="col-sm-4 control-label">Branch<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                                   <select class=" _select js-states form-control">

                                                    <option > </option>
                                                    <option value="CH">(TAAI)CHENNAI - DEPOT </option>
                                                    <option value="KA">(TAAI)KOLKATA - DEPOT </option>
                                                    <option value="TAAI">(TAAI)SVK - DEPOT </option>
                        
                      </select><br />
                                                </div>
                                            </div>
                                        </div>
                                       
                              
                                        <div class="col-md-6">
                                            <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">DOC Date<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" type="date"><br />
                                       
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Doc ID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">

                                            <input class="form-control" id="inputEmail3" placeholder="PLOT300001" type="text"  readonly><br />
                                    </div>
                                </div>
                            </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Proc Lot No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" placeholder="-PLOT300001" type="text" readonly><br />
															</div>
												
													<br/>
													
                                               
                                            </div>
                                       </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Process<label class="Mandatory"></label></label>
                                              
                                                      <div class="col-sm-8">
                                   <select class=" _select js-states form-control">

                                                    <option > </option>
                                                    <option value="CH">MAINTENANCE </option>
                                                    <option value="KA">DG-MIXING </option>
                                                    <option value="TAAI">PYRO-BLENDING</option>
                                                       <option value="TAAI">PASTE-BLENDING</option>
                                                <option value="TAAI">POLISHING</option>
                                                   <option value="TAAI">ATOMISATION</option>
                        
                      </select><br />


                                    </div>
                                               
                                            </div>
                                        </div>
                                   
								
								
                                        <div class="col-md-6">
                                            <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Opening Bin Bal<label class="Mandatory"></label></label>
                                                <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" type="text"><br />
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Work Center<label class="Mandatory"></label></label>
                                              
                                                      <div class="col-sm-8">
												  

                                                <input class="form-control" id="inputEmail3" type="text">
                                                <br />
												</div>
                                               
                                            </div>
                                        </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Op.Mill Load<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" type="text"> <br />
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Start Date/Time<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="datetime-local"><br />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">End Date/Time<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3"  type="datetime-local" ><br />

                                    </div>

                                    <br />


                                </div>
                            </div>
                           </div>
                           <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">

                                   <br /><br /> <label for="inputName3" class="col-sm-4 control-label">Wip ItemID<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" type="text"><br />

                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                               <label for="inputName3" class="col-sm-4 control-label">Total Input Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Total Output Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />

                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                      <label for="inputName3" class="col-sm-4 control-label">Total G/L Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"> <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Total Loss Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">Total Gain Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">WIP Qty<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <label for="inputName3" class="col-sm-4 control-label">PORM<label class="Mandatory"></label></label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="inputEmail3" type="text"><br />

                                        </div>
                                    </div>
                                </div>
                               </div>

                           
                            <div style="height:30px;"></div>
                            <button type="submit" class="btn aqua m-t-xs bottom15-xs">Submit</button>
                            <button class="btn btn-danger" type="submit">Cancel</button><br />
                            </form>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>