@model Arasan.Models.ItemSubGroup
@{
    ViewData["Title"] = "Item Sub Group";

}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> Item Sub Group </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Item Sub Group</h5>
                    <hr>
                    <form>
                        <div class="row">
                                                        <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Item Sub Group<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-3"></div>


                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label"> Descreption<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="height:30px;"></div>
                        <a button type="submit" class="btn aqua m-t-xs bottom15-xs" href="@Url.Action("ListItemSubGroup", "ItemSubGroup")">Submit</a>
                        <a button class="btn btn-danger" type="submit" href="@Url.Action("ListItemSubGroup", "ItemSubGroup")">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>