@model Arasan.Models.Home
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6 top15">
        <div class="col-lg-4">
            <div class="widget box-shadow green-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Suppliers</span>
                        <h2 class="font-bold">320</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- begin col-2 -->
        <div class="col-lg-4">
            <div class="widget box-shadow aqua-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Products</span>
                        <h2 class="font-bold">10</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="widget box-shadow red-bg">
                <div class="row vertical-align">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-2x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <span>Total Customes</span>
                        <h2 class="font-bold">610</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-6 top15">
        <div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm">12</button> Total Indent
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary m-r-sm">28</button>  Enquiry
                        </td>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm">15</button> Quotation
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-info m-r-sm">20</button> PO
                        </td>
                        <td>
                            <button type="button" class="btn btn-success m-r-sm">40</button> Gate Inward
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger m-r-sm">30</button> GRN
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
</div>
</div>
<div class="row">
    <div class="col-lg-4 top15">
        <div class="col-xs-4">
            <img src='../Images/new_blink.gif' alt='View Details' width='100' />
        </div>
        <div class="col-xs-8">
            <span>New Notifications</span>
            <h2 class="font-bold">19</h2>
        </div>
        </div>
    <div class="col-lg-4 top15">
        <div class="col-xs-4">
            <img src='../Images/noti.png' alt='View Details'/>
        </div>
        <div class="col-xs-8">
            <span>Total Notifications</span>
            <h2 class="font-bold">320</h2>
        </div>
    </div>
</div>