@model Arasan.Models.Employee

@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Employee";
}
<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>

<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Disp</h5>
                    <hr>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">City<label class="mandatory">*</label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.Disp, new { @id = "txtDisp", @class = "form-control", @TabIndex = 2 })

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div style="height:30px;"></div>


                        <div style="height:30px;"></div>
                        <input type="button" class="btn btn-danger" value="Save" id="btnSave" />
                        <input type="button" class="btn btn-danger" value="Close" onClick="window.parent.jQuery.fancybox.close();" />
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('._select').select2();
    });
    function PopulateDropDown(dropDownId, list) {
        //alert(list);
        $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        if (list != null && list.length > 0) {
            $(dropDownId).removeAttr("disabled");
            $.each(list, function () {
                $(dropDownId).append($("<option></option>").val(this['value']).html(this['text']));
            });
        }
        $(dropDownId).trigger("liszt:updated");
    }
    $(".chosen-select").chosen();
    $('.for_date').datetimepicker({
        //   language:  'fr',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;
            if (document.getElementById("txtDisp").value == "" || document.getElementById("txtDisp").value == 0) {
                isValid = false;
                $(txtDisp).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Enter Disp");
                return false;
            }
            else {
                $(txtDisp).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false) {
                e.preventDefault();
            }
            else {
                var category = document.getElementById("txtDisp").value;

                $.ajax({
                    type: "POST",
                    url: "SaveDisp",
                    data: { "category": category },
                    success: function (r) {
                        window.parent.AddDisp(category);
                        window.parent.jQuery.fancybox.close();
                    }
                });

            }


        });



    });
</script>
