@model Arasan.Models.Branch

@{
    ViewData["Title"] = "Branch";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> Branch Master </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Branch Master</h5>
                    <hr>
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Company Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Branch Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>

                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Address<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text">
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Country<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>

                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">State<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">City<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>

                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Pin Code<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">GST No<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>

                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">GST Date<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="date">
                                    </div>

                                </div>
                            </div>
                            </div>
                            <div style="height:30px;"></div>
                        <a button type="submit" class="btn aqua m-t-xs bottom15-xs" href="@Url.Action("ListBranch", "Branch")">Submit</a>
                        <a button class="btn btn-danger" type="submit" href="@Url.Action("ListBranch", "Branch")">Cancel</a>

                    </form>
                </div>

            </div>

        </div>

    </div>

</div>