@model Arasan.Models.Unit

@{
    ViewData["Title"] = "Unit";
}
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong>Unit </strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    
                    <hr>
                    @using (Html.BeginForm("Unit", "Unit", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Unit Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        @Html.TextBoxFor(C => C.UnitName, new { @id = "txtUnit", @class = "form-control", @TabIndex = 1 })<br />
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            <div class="row">
                            <div class="col-lg-3"></div>

                            <div class="form-group">
                                <div class="col-sm-7 col-sm-offset-2">
                                    @*<div class="col-lg-6"></div>*@
                                     <button type="submit" class="btn aqua m-t-xs bottom15-xs " id="btnSave">Submit</button>
                                    <button class="btn btn-danger" type="button" causesvalidation="false" onclick="location.href='@Url.Action("ListUnit", "Unit")'">Cancel</button>


                                </div>
                            </div>
                       
                        </div>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function (e) {
            var isValid = true;

            if (document.getElementById("txtUnit").value == "") {
                isValid = false;
                $(txtUnit).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Unit Name");
                return false;
            }
            else {
                $(txtUnit).css({
                    "border": "",
                    "background": ""
                });
            }
            if (document.getElementById("txtUnitCode").value == "") {
                isValid = false;
                $(txtUnitCode).css({
                    "border": "1px solid red",
                    "background": "#FFCECE"
                });

                alert("Please Select Unit Code");
                return false;
            }
            else {
                $(txtUnitCode).css({
                    "border": "",
                    "background": ""
                });
            }


            if (isValid == false)
                e.preventDefault();

        });

    });
</script>