@model Arasan.Models.ProductionSchedule

@{
    ViewData["Title"] = "Production Schedule";
}
<partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@

<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Production</a> </li>
            <li class="active"> <strong>Production Schedule</strong> </li>
        </ol>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var source =
        {
            url: "/ProductionSchedule/MyListDirectPurchaseGrid",
            //url: "/ItemName/ItemName",
             data: {
                    strstatus: ""
                },
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'work', type: 'string' },
                { name: 'item', type: 'string' },
                { name: 'doc', type: 'string' },
                { name: 'docDate', type: 'string' },
               
                { name: 'editrow', type: 'string' },
                { name: 'delrow', type: 'string' },
                
            ],
            id: 'id',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );

        $("#grid").jqxGrid(
            {
                width: '100%',
                    source: dataAdapter, 
                    height: 450,
                    source: source,
                    sortable: true,
              filterable: true,
              groupable: false,
              pageable: true,
                showfilterbar: true,
              //showfilterrow: true,
            theme: 'darkblue',
		    enablebrowserselection :true,
                columns: [
                    { text: 'Doc No', filtertype: 'checkedlist', datafield: 'doc', width: 150 },
                      { text: 'Doc Date', datafield: 'docDate', width: 150, align: 'center' },
                    { text: 'Work Center', filtertype: 'checkedlist', datafield: 'work', width: 250 },
                    { text: 'Item', filtertype: 'input', datafield: 'item', width: 300 },
                  
                     { text: 'Edit', datafield: 'editrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                    { text: 'Delete', datafield: 'delrow', sortable: false, exportable: false, filterable: false, groupable: false, autoshowfiltericon: false, cellsalign: 'center', width: 70 },
                 ]
            });
             $("#ddlStatus").change(function () {
            var value = "Y";
            if ($(this).val() != "") {
                value = $(this).val();
            }
            source.data = {
                strstatus: value
            };
            $("#grid").jqxGrid({ source: source });
        });
    });
</script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">

                    <form>
                        <div class="row">
                            <div class="col-md-2 ">
                                @Html.DropDownListFor(n => n.ddlStatus, new SelectListItem[]
                                { new SelectListItem() {Text = "Enabled", Value="Y"},
                                new SelectListItem() {Text = "Disabled", Value="N"}},
                                new { @id = "ddlStatus", Class = "dropdownlist margin_bottom_new form-control" })
                            </div>
                            <div class="col-md-9 ">
                                <div class=" textalignright">
                                    <a href="@Url.Action("ProdSchedule", "ProductionSchedule")" class="btn  btn-round btn-primary" style="float: right; color:white;">Add Production Schedule</a>
                                    <br>
                                </div>


                            </div>
                        </div>
                        <div class="row">


                          @*  <div class="col-md-10 ">*@
                                <div id="grid">
                                </div>

                           @* </div>*@

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>
