@{
    Layout = "_PopupLayout";
    ViewData["Title"] = "Production Entry";
    string itemid = ViewContext.HttpContext.Request.Query["itemid"];
    string rowid = ViewContext.HttpContext.Request.Query["rowid"];
    string locid = ViewContext.HttpContext.Request.Query["locid"];
}
<partial name="JqxGridPartial" />
<style>
    .newwidth {
        width: 120px;
    }

    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>
<script type="text/javascript">
    var itemid = "@itemid";
    var rowid = "@rowid";
    var locid = "@locid";
    $(document).ready(function () {

        var source =
        {
            url: "/DepotInvoice/ListDrumSelection?itemid=" + itemid + "&locid=" + locid,
            datatype: "json",
            updaterow: function (rowid, rowdata) {
                // synchronize with the server - send update command
            },
            datafields: [
                { name: 'invid', type: 'string' },
                { name: 'lotno', type: 'string' },
                { name: 'drumno', type: 'string' },
                { name: 'qty', type: 'string' },
                { name: 'rate', type: 'string' },

            ],
            id: 'invid',
        };
        var dataAdapter = new $.jqx.dataAdapter(source,
            { contentType: 'application/json; charset=utf-8' }, {
            loadComplete: function () {

            }
        }
        );
        $("#jqxgrid").jqxGrid(
            {
                width: 700,
                source: dataAdapter,
                height: 365,
                filterable: false,
                pageable: false,
                autoheight: true,
                sortable: false,
                rowdetails: false,
                selectionmode: 'checkbox',
                columns: [
                    { text: 'BATCH NO', datafield: 'lotno', width: 350 },
                    { text: 'DRUM NO', datafield: 'drumno', width: 100 },
                    { text: 'QTY', datafield: 'qty', width: 100 },
                    { text: 'RATE', datafield: 'rate', width: 100, cellsalign: 'right' }

                ]
            });
    });
</script>
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>sales</a> </li>
            <li class="active"> <strong>Depot Invoice</strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Drum Stock</h5>
                    <hr>
                    @using (Html.BeginForm("ApproveProEntry", "ProductionEntry", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div style="margin-top: 10px;float:right;">
                                        <input id="button" type="button" value="OK" class="btn btn-success" />
                                        <input type="button" onClick="window.parent.jQuery.fancybox.close();" value="Close" class="btn btn-danger" />
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div id="jqxgrid">
                                    </div>

                                </div>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $("#button").click(function () {
   if (confirm('Are you sure want to Submit?') == true) {
            var rows = $("#jqxgrid").jqxGrid('selectedrowindexes');
            var tot = 0;
            var selectedRecords = new Array();
            var drum = new Array();
            for (var m = 0; m < rows.length; m++) {
                var row = $("#jqxgrid").jqxGrid('getrowdata', rows[m]);
                selectedRecords[selectedRecords.length] = row.invid;
                drum[drum.length] = row.drumno;
                tot += eval(row.qty);
            }
            const fruits = JSON.stringify(drum);
            var drumdisp = fruits.replace(']', '').replace('[', '').replaceAll('"', '');
            const ids = JSON.stringify(selectedRecords);
            var drumiddisp = ids.replace(']', '').replace('[', '').replaceAll('"', '');
            window.parent.document.getElementById('txtQuantity' + rowid).value = tot;
            window.parent.document.getElementById('txtDrumsdesc' + rowid).value = drumdisp;
            window.parent.document.getElementById('hddrumid' + rowid).value = drumiddisp;
            window.parent.changeQty(0, rowid);
        }
        window.parent.jQuery.fancybox.close();
    });
</script>