@model Arasan.Models.ExchangeRate

@{
    ViewData["Title"] = "Exchange Rate";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Master</a> </li>
            <li class="active"> <strong> Exchange Rate </strong> </li>
        </ol>
    </div>
</div>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                    <h5 style="font-size:14px">Exchange Rate</h5>
                    <hr>
              <form>

                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Currency Name<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="inputName3" class="col-sm-4 control-label">Exchange Rate<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="text"><br />
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Exchange Date<label class="Mandatory"></label></label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="inputEmail3" placeholder="" type="Date"><br />
                                       <br />
                                                 </div>
                                </div>
                            </div>
                            </div>
                            <div style="height:30px;"></div>

                        <a button type="submit" class="btn aqua m-t-xs bottom15-xs" href="@Url.Action("ListExchange", "ExchangeRate")">Submit</a>
                        <a button class="btn btn-danger" type="submit" href="@Url.Action("ListExchangeRate", "ExchangeRate")">Cancel</a>

                    </form>
         </div>
         </div></div>
</div>
</div>