
 
@{
    ViewData["Title"] = "Account Tree";
}

<style>
    .mandatory {
        color: red;
        position: relative;
        top: 2px;
        left: 5px;
    }
</style>



<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Account</a> </li>
            <li class="active"> <strong>Tree View</strong> </li>
        </ol>
    </div>
</div>


<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                   
                    <hr>
                    @using (Html.BeginForm("HSNcode", "HSNcode", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                    <form>
                        <div class="row">
                        
                            <div class="col-md-6">
                               <div id="jstree">  
    
    </div>  
                            </div>
                        
                      <div class="col-md-6" id="divresult" style="display:none;">
                          <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Parent : <label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                      <label id="lblparent" style="font-weight:200px;color:green"></label><br>
                                    </div>
                                </div>
                            </div>
                            </div>
                    
                          <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Account /Group Name : <label class="mandatory"></label></label>
                                    <div class="col-sm-8">
                                      <label id="lblaccname" style="font-weight:200px;color:#FF5733"></label><br>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Group OR Account<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                           <label id="lblaccgrp" style="font-weight:200px;color:#FF5733"></label><br>

                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Category<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                           <label id="lblcate" style="font-weight:200px;color:#FF5733"></label><br>

                                    </div>
                                </div>
                            </div>
                        </div>


                         <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label for="inputName3" class="col-sm-4 control-label">Currency<label class="mandatory"></label></label>
                                    <div class="col-sm-8">

                                           <label id="lblcur" style="font-weight:200px;color:#FF5733"></label><br>

                                    </div>
                                </div>
                            </div>
                        </div>
                                    <div style="height:30px;"></div>
                                    <a href="EditRate?id=" class='btn btn-primary fancybox' data-fancybox-type='iframe' id="hdaddnode"> Add Node</a>
                                   @* <a href="Delrow?id=" class="btn btn-danger"  onclick="return ConfirmDelete()" id="hddelnode">Delete Node</a>*@

                        
                      </div>
                      </div>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="text/javascript">
       $(function () {
            $('#jstree').on('activate_node.jstree', function (e, data) {
                var nodeid = "";
                var nodename = "";
                var parent = "";
     if (data == undefined || data.node == undefined || data.node.id == undefined)
                return;
                nodeid = data.node.id;
    if(data.instance.is_leaf(data.node)) {
        nodename = data.node.text;
        parent = data.instance.get_node(data.node.parent).id;
  }
                document.getElementById("divresult").style.display = "block";
   $.ajax({
            url: 'AcctreeViewResult',
            data: { "id": nodeid,"text" : nodename,"parentid":parent},
            type: "GET",
            success: function (result) {

                document.getElementById("lblaccname").innerHTML = result.accname;
                document.getElementById("lblaccgrp").innerHTML = result.group;
               
           document.getElementById("lblcate").innerHTML = result.category;
                document.getElementById("lblcur").innerHTML = result.cur;

                     document.getElementById("lblparent").innerHTML = result.parent;
            document.getElementById("hdaddnode").href ="/AccTreeView/Addnode?id=" + result.masterid;
             //document.getElementById("hddelnode").href ="/AccTreeView/delnode?id=" + result.masterid;
            },
            error: function () {
                alert("Data Not Found");
            }
        });

}).jstree({
                "core": {
                    "themes": {
                        "variant": "large"
                    },
                    "data": @Html.Raw(ViewBag.Json)
                    },
             
                "plugins": ["wholerow"],
            });
        });
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
    </script>
<a class="fancybox1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<a class="fancyboxe1" rel="group" data-fancybox-type="iframe" href="#" style="display: none; width: 760px;"></a>
<link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.css?v=2.1.5")" type="text/css" media="screen" />
<script type="text/javascript" src="@Url.Content("~/css/jquery.fancybox.pack.js?v=2.1.5")"></script>
<script type="text/javascript">
    var fancybox123;
    jQuery(document).ready(function ($) {
        $(".fancybox").fancybox({
            width: '80%',
            height: '10%',
            arrows: false,
            afterClose: function () {
                location.reload();
                return;
            }
        });
        fancybox123 = $.fancybox;
    });
    function close_popup() {
        fancybox123.close();
        $(".fancybox1").fancybox({
            width: '100%',
            height: '100%',
            arrows: false,
        });
        $(".fancybox1").eq(0).trigger('click');
    }
</script>