@model Arasan.Models.PurchaseIndent

@{
    ViewData["Title"] = "Purchase Indent Approval";
}
<script type="text/javascript">
    @if (TempData["notice"] != null)
    {
        @:alert('@TempData["notice"]');
    }
</script>
  <partial name="JqxGridPartial" />
@* @Html.Partial("~/Views/JqxGridPartial.cshtml")  *@
<script type="text/javascript" src="~/jqwidgets/jqxgrid.columnsresize.js"></script>
    
<div class="row wrapper border-bottom page-heading">
    <div class="col-lg-12">

        <ol class="breadcrumb">
            <li> <a href="#">Home</a> </li>
            <li> <a>Purchase</a> </li>
            <li class="active"> <strong>Purchase Indent Approval</strong> </li>
        </ol>
    </div>
</div>

 <script type="text/javascript">
       $(document).ready(function () {
            
            // prepare the data
           var source =
            {
                url: "/PurchaseIndent/ListIndentItemgridApproval",
               datatype: "json",
                updaterow: function (rowid, rowdata) {
                  // synchronize with the server - send update command
              },
                datafields: [
                     { name: 'piid', type: 'string' },
                    { name: 'indentno', type: 'string' },
                    { name: 'indentdate', type: 'string' },
                    { name: 'itemname', type: 'string' },
                    { name: 'unit', type: 'string' },
                    { name: 'quantity', type: 'float' },
                    { name: 'location', type: 'string' },
                    { name: 'duedate', type: 'string' },
                    { name: 'narr', type: 'string' },
                    { name: 'approval', type: 'string' },
                    { name: 'disapproval', type: 'string' }
                ],
                id: 'indentid',
            };
              var dataAdapter = new $.jqx.dataAdapter(source,
                { contentType: 'application/json; charset=utf-8' }, {
                    loadComplete: function () {

                    }
                }
            );
            var linkrenderer = function (row, column, value) {
                return '<a href="' + value + '" onclick="return Approve()"><img  src="../Images/Approved.png"  style="text-align: center; margin-top: 5px;padding-left:25px;"/></a>';

    //return "<a href='" + value + "' target='_blank'>"+'< img src ="../Images/edit.png" alt ="Edit" />'+"</a>";
}
        var linkrenderer1 = function (row, column, value) {
            return '<a href="' + value + '" onclick="return DisApproval()"><img  src="../Images/cancel.png"  style="text-align: center; margin-top: 5px;padding-left:25px;"/></a>';

            //return "<a href='" + value + "' target='_blank'>"+'< img src ="../Images/edit.png" alt ="Edit" />'+"</a>";
        }
            // initialize jqxGrid
            $("#grid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                height: 450,
                source: source,
                //autoheight: true,
                sortable: true,
                filterable: true,
                groupable: false,
                pageable: true,
                showfilterbar: true,
                //showfilterrow: true,
                theme: 'ui-start',
                autorowheight: true,
                filterbarmode: 'simple',
                enablebrowserselection: true,
                columnsresize: true,
                selectionmode: 'multiplerowsextended',
                keyboardnavigation: false,

                columns: [
                  { text: 'Indent No.', filtertype: 'checkedlist', datafield: 'indentno',color:'black', width: 95 },
                  { text: 'Indent Date', datafield: 'indentdate', filtertype: 'input', width: 100 },
                  { text: 'Item Name', filtertype: 'checkedlist', columntype: 'dropdownlist', datafield: 'itemname', width: 170 },
                  { text: 'Due date', datafield: 'duedate', filtertype: 'input', width: 100, cellsalign: 'right' },
                  { text: 'Location', datafield: 'location', filtertype: 'checkedlist', cellsalign: 'right', width: 70 },
                  { text: 'Quantity', datafield: 'quantity', filtertype: 'checkedlist', cellsalign: 'center', width: 70 },
                    { text: 'Narration', datafield: 'narr', filtertype: 'checkedlist', cellsalign: 'center', width: 200 },
                  { text: 'Approval', datafield: 'approval', cellsalign: 'center', width: 80, cellsrenderer: linkrenderer, align: 'center'},
                    { text: 'DisApprove', datafield: 'disapproval', cellsalign: 'center', width: 80, cellsrenderer: linkrenderer1, align: 'center' },
                  
                ]
            });
        });
    </script>
<div class="wrapper-content ">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="widgets-container">
                  
                    <form>
                      
                        <div class="row">

                             <div class="col-md-1 "> </div>
                            <div class="col-md-12 "> 
                                <div id="grid">
    </div>

                            </div>
                           
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function Approve() {
        return confirm('Are you sure want to Approve this Indent?');
    }

    function DisApproval() {
        return confirm('Are you sure want to DisApprove this Indent?');
    }
</script>
